body {
    background-color: black;
}

.output{
	font: Arial;
	border-radius: 10px;
	font-size: 30px;
	padding: 20% 0%;
	width: 90%;
	margin: 0% 5%;
	margin-top: 30px;
  font-weight: bold;
	background-color: rgb(48,48,48);
	color: white;
	text-align: center;
}

.molecular-weight-input{
	font: Arial;
	border-radius: 5px;
	font-size: 30px;
	padding: 25px 0px;
	width: 90%;
	margin: 10% 5%;
	color: white;
	background-color: black;
	border-color: white;
	font-weight: bold;
	text-align: center;
	border-color: rgb(48,48,48);
	outline-color: white;
	cursor: none;
}

.Alkane,
.Alkene,
.Alkyne {
	border-color: white;
	font: Arial;
	background-color: white;
	color: rgb(0,0,0);
	font-size: 30px;
	padding: 35px 0px;
	width: 90%;
	margin: 0% 5%;
	margin-top: 1px;
  font-weight: bolder;
  user-select: none;
}

.Alkane{
	border-start-start-radius: 10px;
	border-start-end-radius: 10px;
}

.Alkyne{
	border-end-start-radius: 10px;
	border-end-end-radius: 10px;
}

button:active,
button:hover{
  background-color: black;
  color: white;
}